* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}

#header {
    display: flex;
    justify-content: center;
    height: 75px;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;

}

#header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0px;
}

#userinfoHead {
    margin: 40px;
    font-size: large;
    font-weight: 800;
    text-align: right;
    color: white;
}

#Containers {
    display: flex;
    gap: 25px;
    overflow: visible;
    justify-content: center;
}

.Container1Child {
    width: 250px;
    border: 5px solid black;
    border-radius: 20px;
}

#SearchArea {
    height: 100px; 
}

#SearchSelectDisplay, #WatchWindow {
    height: 250px;
}

#SearchSelectDisplay, #WatchWindow {
    margin-top: 25px;
    
}

#Container2Flex1 {
    display: flex;
    gap: 25px;
}

#Container2 #Container2Flex1 > div {
    height: 375px;
    border: 5px solid black;
    border-radius: 20px;
}

#PortfolioWindow {
    width: 700px;
}

#TopMoversWindow {
    width: 250px;
}

#SearchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#TickerSearchBar > input{
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}


#TickerSearchResults {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    scrollbar-width: none;
    margin: 5px;
    list-style: none;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
}


#TickerSearchResults > li:hover {
    color: white;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    transition: 200ms;
    transform: scale(1.05);
}




