* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}

#header {
    height: 75px;
    text-align: center;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

#header div {
    font-size: 50px;
    font-weight: bold;
    padding-top: 4px;
}

#userinfoHead {
    margin: 40px;
    font-size: large;
    font-weight: 800;
    text-align: right;
    color: white;
}

#Containers {
    display: flex;
    gap: 25px;
    overflow: scroll;
}


.Container1Child {
    width: 250px;
    border: 5px solid black;
    border-radius: 20px;
}

#SearchArea {
    height: 100px; 
}

#SearchSelectDisplay, #WatchWindow {
    height: 250px;
}

#SearchSelectDisplay, #WatchWindow {
    margin-top: 25px;
}

#Container2Flex1 {
    display: flex;
}

#Container2 #Container2Flex1 > div {
    width: 400px;
    height: 375px;
    border: 5px solid black;
    border-radius: 20px;
}






